.button {
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(145deg, #a19230, #e0cc57);
  color: #f8f4db;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, border 0.3s ease; 
  border: none;
}

.button:hover {
  background-color: var(--fundo-hover);
  color: #7c6d15;
  border: 2px solid #7c6d15; 
}