.buttonContainer{
    width: 100%;
}

button{
    width: 100%;
    font-family: Helvetica;
    border: 1px solid #FFF;
    border-radius: 5px;
    background: linear-gradient(180deg, #dfca4e 0%, #bba836 100%);
    color: #FFF;
}