.buttonContainer {
  width: 100%;
}

.button {
  width: 100%;
  font-family: Helvetica;
  border: 1px solid #FFF;
  border-radius: 5px;
  background: linear-gradient(180deg, #beb165 0%, #ccba51 100%);
  color: #FFF;
  padding: 8px 12px;
  cursor: pointer;
}