.movieCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 2px;

}

.indicado{
    font-size: 10px;
}

img{
    width: 80px;
    border-radius: 5px;
}